<html lang="de">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta charset="UTF-8" />
    <meta name="published-on" content="2022-12-25T04:02:35.622596-05:00" />
    <title>henicosa's {{  application_name  }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}" />
  </head>
  <body>
    <!-- Vertical Timeline -->
    <div class="box" style="max-width: 600px; margin: auto; margin-top: 30px">
      <h1>
        <div style="font-size: 0.7em; font-family: cursive">henicosa's</div>
        <div
          style="font-size: 1.3em; line-height: 0.8em; font-family: monospace"
        >
          {{  application_name  }}
        </div>
        <div style="margin-top: 0.3em; font-size: 0.6em">- {{  application_type  }} -</div>
      </h1>

      <div class="timeline-article">
        <div class="content-container" style=" width: 100%; margin-bottom: 50px; margin-top: 50px;">
          <div class="content" style="padding-bottom: 70px;">
            <img class="avatar" src="https://tse3.mm.bing.net/th?id=OIP.P7ZrfKQZdYdvt_tJ0iLAxgHaHa&pid=Api"
            alt="Chat-GPT, Künstliche Intelligenz
              die gerade sorgt"/>
            {{  application_introduction  }}
          </div>
        </div>
        <button class="button">  
          <div style=" margin-top: -10px;" id="activateButton" onClick="activateButton()">
            <span class="button-text-big">{{  application_type_short  }}</span> 
            <span class="button-text-small script-status">...</span></button>
          </div>
      </div>
      <script>
        function activateButton() {
          var button = document.getElementsByClassName("button")[0];
          var scriptStatus = document.getElementsByClassName("script-status")[0];
          button.style.backgroundColor = "yellow";
          scriptStatus.innerHTML = "startet";
          button.disabled = true;
          fetch("/activate", {
            method: "POST"
          })
          .then(response => response.json())
          .then(data => {
            if (data.status === 'already running'){
              scriptStatus.innerHTML = "läuft bereits";
            } else if (data.status === 'success') {
              scriptStatus.innerHTML = "läuft ...";
              button.style.backgroundColor = "AliceBlue";
            } else if (data.status === 'failed')  {
              scriptStatus.innerHTML = "fehlgeschlagen";
              button.style.backgroundColor = "red";
            } else if (data.status === 'not running')  {
              scriptStatus.innerHTML = "aktivieren";
            }
          })
        }
      </script>
      <script>
        function checkStatus() {
          var button = document.getElementsByClassName("button")[0];
          var scriptStatus = document.getElementsByClassName("script-status")[0];
          fetch("/status")
          .then(response => response.json())
          .then(data => {
            if (data.status === 'already running'){
              scriptStatus.innerHTML = "läuft bereits";
              button.style.backgroundColor = "yellow";
            } else if (data.status === 'success') {
              scriptStatus.innerHTML = "läuft ...";
              button.style.backgroundColor = "AliceBlue";
            } else if (data.status === 'failed')  {
              scriptStatus.innerHTML = "fehlgeschlagen";
              button.style.backgroundColor = "red";
            } else if (data.status === 'not running')  {
              scriptStatus.innerHTML = "aktivieren";
            }
          })
        }
        window.onload = checkStatus;
      </script>
      <div style="width: 40%; margin: 0 auto; margin-top: 50px">
        <hr />
      </div>
      <div
        style="
          width: 60%;
          margin: 0 auto;
          padding-bottom: 2em;
          text-align: center;
          font-size: 0.6em;
        "
      >
       All Rights reserved. No responsibility guaranteed.
      </div>
    </div>
  </body>
</html>